@tailwind base;
@tailwind components;
@tailwind utilities;

.pagination {
  display: flex;
  justify-content: center;
  gap: 1px;
  align-items: center;
}

.pagination > li {
  border: 1px solid rgb(128, 120, 120);
  padding: 10px;
}

.pagination > li.active {
  background-color: #ec194e;
  color: white;
}
